{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet"  href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Блог</title>
</head>
<body>
<header>
    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="{% static 'img/Logo_Kodland.png' %}" alt=""> Блог</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn" href="{% url 'post_create_url' %}">+ Добавить статью</a></li>
      </ul>
    </div>
  </nav>
</header>

{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
