{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet"  href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Блог</title>
</head>
<body>
    <nav class="my-navbar valign-wrappe">
    <div class="nav-wrapper my-wrapper ">
        <div class="sub-wrapper">
            <div class="logo-back center-align">
           <img src="{% static 'img/Logo_Kodland.png' %}" alt="" class="logo">
      </div>
      <div class="app-name">Блог</div>
        </div>
      <ul class="right hide-on-med-and-down">
        <li><a class="my-btn add-button" href="{% url 'post_create_url' %}">+ Добавить статью</a></li>
      </ul>
    </div>
  </nav>

{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
