{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col s6">
            {{ last_post.title}}
        </div>
        <div class="col s6">
            <img src="{{ last_post.image.url}}" alt="{{ last_post.title }}">
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Другие статьи</h4>
            </div>
            {% if posts %}
                {% for post in posts%}
                    <div class="col s4">
                        <div class="card small">
                            <span class="card-title">{{ post.date_create}}</span>
                            <div class="card-image">
                                <img src="{{ post.image.url}}" alt="{{ post.title }}">
                            </div>
                            <div class="card-content">
                                <a href="{{ post.get_absolute_url }}">{{ post.title}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% else %}
                <h3>Post</h3>
                <p>No post found!!! :(</p>
            {% endif %}
    </div>
{% endblock %}
{# .... **More content, footer, etc.** .... #}