{% extends 'blog/base.html' %}

{% block content %}
    <div class="left left-part">
        <div class="new-label">NEW</div>
        <h4 class="title-last-article">
            {{ last_post.title}}
        </h4>
        <p class="post-text">
            {{ last_post.text }}
        </p>
    </div>
    <div class="right img-last-post">
            <img src="{{ last_post.image.url}}" alt="{{ last_post.title }}" class="last-post-img">
    </div>
    <a href="{{ last_post.get_absolute_url }}" class="my-btn read-btn">Читать</a>
    <hr class="my-hr">
    <div class="container my-container">
        <div class="row">
            <div class="col s12">
                <h5 class="other-articles">Другие статьи</h5>
            </div>
            {% if posts %}
                {% for post in posts%}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="my-card unmargined-card">
                        {% else %}
                            <div class="my-card ">
                        {% endif %}
                            <span class="card-date">{{ post.date_create}}</span>
                            <img src="{{ post.image.url}}" alt="{{ post.title }}">
                            <div class="card-content">
                                <a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title|truncatewords:6}}</a>
                            </div>
                        </div>
                {% endfor %}
                </div>
            {% else %}
                <h3>Post</h3>
                <p>No post found!!! :(</p>
            {% endif %}
    </div>
{% endblock %}
{# .... **More content, footer, etc.** .... #}